*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body{
    background: linear-gradient(rgba(149, 88, 206, 0.8) ,rgba(191, 172, 209, 0.382)), url("survey-form-background.jpeg");
    background-repeat: no-repeat;
    margin: 3em;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}
.container{
    
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
.box{
    border: 1px solid rgb(62, 49, 107);
    border-radius: 0.3em;
    background-color: rgba(62, 49, 107, 0.554);
    display: flex;
    justify-content: center;
}
h3,p,label{
    color: white;
   
}
h3{
    text-align: center;
    font-size: 30px;
    padding: 4px;
}
p{
    text-align: center;
padding: 10px 1px 30px 10px;
}
form{
    padding: 30px;
}
input[type=text],input[type=email],input[type=number],select,textarea{
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px 25px 0px;
    padding: 7px;
}
#git,#notsure{
    margin:0px 0px 25px 0px;
}
select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
  textarea{
      width: 95%;
      resize: vertical;
  }
input[type=submit]
{
    width: 100%;
    background-color: rgb(95, 232, 95);
    color: white;
    padding: 10px;
    border: 1px solid rgb(87, 194, 87);
    border-radius: 3px;
    margin: 20px 0px;
}
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }